{
    "lambda_funcs_to_deploy":{
        "func1":{
            "func_name":"ads",
            "func_code_path":"/home/usr/igga",
            "func_handler_file_name":"function.py",
            "lambda_handler_function_name":"lambda_handler",
            "lambda_language":"python",
            "override_base_image_for_lambda":"docker pull amazon/aws-lambda-python:latest-x86_64",
            "function_arn":"", # optional, if being used by client backend
            
        }
    }
}
